@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <h3>@ViewBag.some</h3>

    <p>Use this area to provide additional information.</p>
</main>

@section scripts
{
    <script>
        document.getElementById('Alink')
            .addEventListener('load',
                document.getElementById('Alink').classList.add('Active')
            );
    </script>
}