@using HelloWorld.Data
@model Product
<h1>Details Page</h1>
<h2>See details of Product</h2>


<div class="align-self-center">
    <div>
        <img src="@Model.ProductImage"/>
    </div>
    <div>
        <h2 class="text-capitalize fw-bold border-bottom border-danger border-2 pb-2">Product Name : @Model.Name</h2>
        <h2 class="text-capitalize fw-bold border-bottom border-danger border-2 pb-2">Descrption : @Model.Description</h2>
        <h2 class="text-capitalize fw-bold pb-2">Price : <span class="text-success"> @Model.Price</span></h2>
    </div>
    <div class="row row-cols-2 border-top border-secondary border-2">
        <div class="col">
            <label class="form-label fw-bold fs-3" for="quan">Quantity</label>
            <input id="quan" type="number" name="Quant" value="1" min="1" class="form-control"/>
        </div>
        <button class="btn btn-warning btn-sm fw-bold fs-3 mt-2">
            <i class="fa-solid fa-plus"></i>
            <span>ADD to Cart</span>
        </button>
    </div>
    
</div>

