@using HelloWorld.Data
@model Offers
@{
    string pageName = "Offers";
    ViewBag.Title = $"{pageName} List";
    ViewBag.Link = "Add";
    ViewBag.Active = "Offers-active";
}
@section links
    {
    <link href="~/Content/Site.css" rel="stylesheet" />
}
@Html.Partial("_TopHeader")

<table id="@pageName-list" class="my-table">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Id</th>
            <th>Offers Name</th>
            <th>Description</th>
            <th>Old Price</th>
            <th>New Price</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script>

        const pageName = "@(pageName)";
        const mainTable = "@(pageName)-list";

        function getModel(obj)
        {
            if (obj === 'undefined' || obj === null) {
                return;
            }
            else {
                return {
                    id: obj['Id'],
                    name: obj['ItemName'],
                    desc: obj['ItemDesc'],
                    oldPrice: obj['OldPrice'],
                    newPrice: obj['NewPrice'],
                }
            }
        }
        function getOffersFroServer() {
            $.ajax({
                type: 'GET',
                url: 'GetOffs',
                success: function (result) {
                    Offers(result, pageName)
                    console.log(result);
                },
                error: function (err) {
                    document.getElementById(pageName).innerHTML = err;
                },
            });
        }


        function Offers(res, page)
        {
            let html = ``;
            for (i = 0; i < res.length - 1; i++)
            {
                var obj = res[i];
                offersModel = getModel(obj);

                html +=
                    `
                <tr>
                   <td>
                     <a class="btn btn-danger btn-sm btns" href="/${pageName}/Delete?id=${offersModel.id}">
                      <i class="fa-solid fa-trash"></i>
                      <span>Delete</span>
                     </a>
                     <a class="btn btn-primary btn-sm btns" href="/${pageName}/Edit?id=${offersModel.id}">
                      <i class="fa-solid fa-pen-to-square"></i>
                      <span>Edit</span>
                    </a>
                    <a class="btn btn-warning btn-sm btns" href="/${pageName}/Details?id=${offersModel.id}">
                     <i class="fa-solid fa-circle-info"></i>
                     <span>Details</span>
                    </a>
                  </td>
                  <td class="">${offersModel.id}</td>
                  <td class="">${offersModel.desc}</td>
                  <td class="">${offersModel.name}</td>
                  <td class="">${`$`}${offersModel.oldPrice}</td>
                  <td class="">${`$`}${offersModel.newPrice}</td>
                </tr>
                   `;
            }
            let table = document.getElementById(mainTable);
            let tbody = table.getElementsByTagName('tbody');
            tbody[0].innerHTML = html;
        }
        document.onload = getOffersFroServer();
        
        document.getElementById('Olink')
            .addEventListener('load',
                document.getElementById('Olink').classList.add('Active')
            );
    </script>
}