


<h3>Confirm That you Want To Delete this Post</h3>

<form method="post" action="~/Posts/Delete" enctype="application/x-www-form-urlencoded">
    <a href="~/Posts/Index" class="btn btn-danger btn-sm">
        <i class="fa-solid fa-trash"></i>
        <span>Delete</span>
    </a>
</form>

