
<link href="~/Content/Product-style/style.css" rel="stylesheet" />

<div class="Prod-Header">
    <span class="Head-title">@ViewBag.Title</span>
    <a href="~/Product/Add">
        <i class="fa-solid fa-square-plus"></i>
        <span>ADD New Product</span>
    </a>
</div>
