<div class="top-header">
    <span class="top-header-title">@ViewBag.Title</span>
    <a href="@ViewBag.Link" class="btn btn-success btn-sm">
        <i class="fa-solid fa-plus"></i>
        <span>Add</span>
    </a>
</div>