
@Html.Partial("_TopHeader")

<h3>Confirm That you Want To Delete this user</h3>

<a href="~/User" class="btn btn-primary btn-sm">
    <i class="fa-solid fa-user-xmark"></i>
    <span>Delete</span>
</a>

<a href="~/User" class="btn btn-secondary btn-sm">
    <i class="fa-solid fa-ban"></i>
    <span>Cancel</span>
</a>

